.back-to-top {
  position: fixed;
  bottom: 30px;
  /* right: 30px; */
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fea116;
  color: #fff;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  z-index: 1000;
}

.back-to-top:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
}
